.MuiTableContainer-root	{
   background-color: #322a24;
   background-image: url(https://d2ertrwg9e34np.cloudfront.net/original/1X/41869db9dbc5e39ec78a2318471c9e61cb35d294.jpg);
   background-position: center top -60px;
   background-repeat: round;
   background-blend-mode: exclusion;
}