.frosted {
   text-align: center;
   width: 100%;
   height: 20rem;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   border-radius: 5px;
   position: relative;
   z-index: 1;
   background: inherit;
   overflow: hidden;
}

.frosted:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
}

.frosted-lav {
   text-align: center;
   width: 100%;
   height: 20rem;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   border-radius: 5px;
   position: relative;
   z-index: 1;
   background: inherit;
   overflow: hidden;
}

.frosted-lav:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px #bbd0ff;
  filter: blur(10px);
}

.About {
   width: 66%;
}

.AboutMe {
   font-size: 36px;
}

.Carousel-Container {
   width: 95%;
}

.Projects-Header-Frosted-Lav {
   text-align: center;
   width: 100%;
   height: 50px;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
   border-radius: 5px;
   position: relative;
   z-index: 1;
   background: inherit;
   overflow: hidden;
}

.Projects-Header-Frosted-Lav:before {
   content: "";
   position: absolute;
   background: inherit;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   box-shadow: inset 0 0 2000px #bbd0ff;
   filter: blur(10px);
 }

 .MyProjects {
    font-size: 36px;
 }